.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin-top: 10vh;
  width: 350px;
  border: 5px solid gainsboro;
}
.login-page {
  display: flex;
  justify-content: center;
}
.login-bottom:last-child {
  padding-bottom: 30px;
}
.login-bottom h4{
  text-align: center;
}
.login-bottom * {
  width: 100%;
  margin-bottom: 5px;
}
.form-control {
  width: 96.5%;
  height: 25px;
}
.login-page-buttons {
  margin-top: 10px;
  height: 30px;
  margin-bottom: 0;
  cursor: pointer;
  background-color: #f5b766;
}
